<div class="container_12">
  <%= render 'shared/flashpartial' %>

  <%= form_for(@conference) do |f| %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

</div>
