<%= form_for @bowl do |f| %>
  <%= f.error_messages %>
    <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
    </p>
    <p>
    <%= f.label :site %>
    <%= f.text_field :site %>
    </p>
  <p>
    <%= f.label :favorite %><br />
    <%= collection_select(:bowl, :favorite_id, Team.order(:teamname).all, :id, :teamname, {:prompt => true}) %><br />
    </p>
  <p>
    <%= f.label :underdog %><br />
    <%= collection_select(:bowl, :underdog_id, Team.order(:teamname).all, :id, :teamname, {:prompt => true}) %><br />
    </p>
    <p>
    <%= f.label :line %>
    <%= f.text_field :line %>
    </p>
      <p>
        <%= f.label :season %>
        <%= f.text_field :season %>
        </p>
      <p>
        <%= f.label :date %>
        <%= datetime_select :bowl, :date %>
        </p>

  <p><%= f.submit (@bowl.new_record? ? "Create" : "Update") %></p>
<% end %>

