<div class="container_12">
  <h1>Bowls</h1>
    <%= form_tag( update_all_bowls_path, :method => "put") do %>

  <table class="bowlgames">
    <tr>
      <th>Bowl</th>
      <th>Location</th>
      <th>Favorite</th>
      <th>Line</th>
      <th>Underdog</th>
      <th>Favorite Score</th>
      <th>Underdog Score</th>
    </tr>
      <% for bowl in @bowls%>
        <%= fields_for "bowls[]", bowl do |f| %>
          <tr>
            <td><%= bowl.name %></td>
            <td><%= bowl.site %></td>
            <td><%= f.collection_select(:favorite_id, @teams, :id, :teamname) %></td>
            <td><%= f.text_field(:line, :size => 10) %></td>
            <td><%= f.collection_select(:underdog_id, @teams, :id, :teamname) %></td>
            <td><%= f.text_field(:favorite_score, :size => 10) %></td>
            <td><%= f.text_field(:underdog_score, :size => 10) %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <br />
      <p><%= submit_tag "Save" %></p>

    <% end %>

</div>
