<div class="container_12">
  <h1>Edit player</h1>

  <%= form_for(@player) do |f| %>
    <%= render 'shared/flashpartial', :object => f.object %>
    <div class="field">
      <%= f.label :firstname %><br />
      <%= f.text_field :firstname %>
    </div>
    <div class="field">
      <%= f.label :lastname %><br />
      <%= f.text_field :lastname %>
    </div>
    <div class="field">
      <%= f.label :nba_team %><br />
      <%= f.select(:nba_team_id, NbaTeam.all.collect {|c| [[c.city, c.mascot].join(' '), c.id]},{ :prompt => true}) %><br /> 
    </div>
    <div class="field">
      <%= f.label :position %><br />
      <%= f.text_field :position %>
    </div>
    <div class="field">
      <%= f.label :player_url %><br />
      <%= f.text_field :player_url %>
    </div>
    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>
</div>
