<%= form_tag({:controller => "pickem_pools", :action => "update"}, :method => "post") do %>
  <p>
    <%= label_tag(:number_of_games, "Number of Weekly Games") %>
    <%= text_field_tag(:number_of_games) %>
  </p>
  <p>
    <%= check_box_tag(:college) %>
    <%= label_tag(:college, "Include college games?") %>
    <%= check_box_tag(:pro) %>
    <%= label_tag(:pro, "Include pro games?") %>
  </p>
  <p>
    <%= label_tag(:weekly_fee, "Weekly Fee") %>
    <%= text_field_tag(:weekly_fee) %>
  </p>

  <p><%= submit_tag ("Save Config") %></p>


<% end %>
