  <div id="content-header">
    <h1>Pool of Greatness</h1>
  </div>
  <div class="container-fluid">
    <%= render "navigation" %>
    <div class="row-fluid">
      <div class="span12">
        <%= render 'shared/flashpartial' %>
      </div>
    </div>
    <div class="row-fluid">
      <%= render 'pool_home' %>
      <%= render 'statistics' %>
      <%= render 'jackpot' %>
    </div>
  </div>

