<%= render 'shared/poolbanner' %>

<div class="pickem_container container_12">
  <%= render 'navigation' %>

  <h1>All Games For This Week</h1>
  <table id="allgames_table">
    <tr class="header">
      <td></td>
      <% @current_week.pickem_games.each do |game| %>
        <td>
          <%= "#{game.game.away_team.abbreviation}" %><br />
          <%= "#{game.game.home_team.abbreviation}" %></br />
        <%= "(#{game.game.line})" %>
      </td>
    <% end %>
    <td>Monday Night Totals</td>

    </tr>
    <% @current_week.pickem_week_entries.each do |entry| %>
      <tr>
        <td><%= entry.user.name %></td>
        <% entry.pickem_picks.each do |pick| %>
          <td><%= pick.team.abbreviation %></td>
        <% end %>
        <td><%= entry.mondaynighttotal %></td>
      </tr>
    <% end %>
  </table>
</div>
