<%= render 'shared/poolbanner' %>
<div class="pickem_container container_12">
  <%= render 'navigation' %>
  <%= render 'shared/flashpartial' %>
  <h2><%= "Games for Week #{@pool.current_week} #{@pool.current_season}" %></h2>
<%= form_tag(save_picks_pickem_pool_path, :method => "post") do %>

<table id="weeklygames">
  <tr>
    <th>Favorite</th>
    <th>Line</th>
    <th>Underdog</th> 
<% @games.each do |weeklygame| %>
  <tr class="<%= cycle("odd", "even") %> gamerow" id="<%= "gameid_#{weeklygame.game.id}" %>">
    <td>
      <%= radio_button_tag("gameid_#{weeklygame.game.id}", weeklygame.game.favorite.id, checked = @teamids.include?(weeklygame.game.favorite.id)) %>
      <%= link_to(weeklygame.game.favorite_display_name, team_path(weeklygame.game.favorite.id)) %>
    </td>
    <td>
      <%= weeklygame.game.display_line %>
    </td>
    <td>
      <%= radio_button_tag("gameid_#{weeklygame.game.id}", weeklygame.game.underdog.id, checked = @teamids.include?(weeklygame.game.underdog.id)) %>
      <%= link_to(weeklygame.game.underdog_display_name, team_path(weeklygame.game.underdog.id)) %>
    </td>
  </tr>
<% end %>
</table>
<br />
<% if @games.count > 0 %>
  <%= label_tag("Monday Night over/under: #{@games[-1].game.overunder}") %>
<% end %>
<br /><br />
<%= label_tag(:mnftotal, "Monday Night Total") %>
<%= text_field_tag(:mnftotal) %><br /><br />
<%= submit_tag("Save Picks", :id => "save_weekly_picks") %>
<% end %>
</div>

</div>
