<%= render 'shared/poolbanner' %>

<div class="pickem_container container_12">
  <%= render "navigation" %>
  <%= render 'shared/flashpartial' %>
  <div class="grid_12"> 
  <h1>Season Stats</h1>
  <table id="weeklygames"  >
    <tr>
      <th>Name</th>
      <th>Won</th>
      <th>Lost</th>
      <th>Tied</th>
      <th>Win %</th>
      <th>Weeks Played</th>
    </tr>
    <% @userstats.each do |stat| %>
      <tr class="<%= cycle("odd", "even") %>" >
        <td><%= stat.name %></td>
        <td><%= stat.won %></td>
        <td><%= stat.lost %></td>
        <td><%= stat.tied %></td>
        <td><%= stat.win_percentage %></td>
        <td><%= stat.weeks_played %></td>
      </tr>
    <% end %>
  </table>
</div>
</div>
  
