<%= render 'shared/poolbanner' %>
<div class="container_12">
  <%= render 'navigation' %>
  <%= render 'shared/flashpartial' %>

  <%= form_tag(save_config_confidence_pool_path, :method => "post") do %>
    <p>
      <%= label_tag("Bowl Entry Deadline") %>
      <%= select_datetime DateTime.current, :prefix => :bowldeadline %>
      </p>
    <p><%= submit_tag("Save") %></p>
      
  <% end %>
</div>

