<%= render 'shared/poolbanner' %>
<div class="container_12">
  <%= render 'confidence_pools/navigation' %>
  <%= render 'shared/flashpartial' %>
  <div id="allpicks_section">
    <table>
      <% @pool.confidence_entries.each do |entry| %>
        <tr>
          <td><%= entry.user.name %></td>
          <% entry.confidence_picks.each do |pick| %>
            <td><%= pick.team.abbreviation %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>

