<%= render 'shared/poolbanner' %>
<div class="container_12">
  <%= render 'navigation' %>
  <%= render 'shared/flashpartial' %>
  <div class="grid_9">
    <div id="ranking_message"><span><b>Instructions:</b> Select the team you think will win straight up.  
       Rank your picks with 35 as your most confident.  As you make your picks, the table at the right will fill in with the ranked teams.
        Please make sure all ranks are full before submitting your picks.</span></div>
    <br />
    <%= form_tag(save_picks_confidence_pool_path, :method => "post") do %>
      <%= submit_tag("Save Picks", :id => "save_confidence_picks", :disabled => @deadline < DateTime.current) %>
      <br /><br />
      <table class="bowlgames">
        <tr>
          <th>Bowl</th>
          <th>Teams</th>
          <th>Pick</th>
          <th>Rank</th>
        </tr>
        <% @bowls.each do |bowl| %>
          <% @row = cycle('odd', 'even') %>
          <tr id="<%= "bowlid_row_#{bowl.id}" %>" class="<%= @row %> <%= !bowl.winning_team.nil? ? (@teamids.include?(bowl.winning_team.id) ? 'winner' : 'loser') : '' %>">
            <td><span class="bowlname"><%= bowl.name %></span><br /><%= bowl.site %></td>
            <td><%= bowl.favorite.display_name %> (<%= bowl.line %>)<br /><%= bowl.underdog.display_name %></td>
            <td>
              <%= radio_button_tag("bowlid_#{bowl.id}", bowl.favorite.id, checked = @teamids.include?(bowl.favorite.id)) %>
              <br />
              <%= radio_button_tag("bowlid_#{bowl.id}", bowl.underdog.id, checked = @teamids.include?(bowl.underdog.id)) %></td>
            <td id="<%= bowl.name %>" >
              <%= select_tag("bowlid_rank_#{bowl.id}", options_for_select(@ranks, @existing_ranks[bowl.id]), :class => 'bowlrankselect') %>
            </td>
          </tr>
        <% end %>
      </table>
      <br /> 
      <div id="confidence_tie_breaker">
        <p>Enter Tie Breaker Score<br />
        <%= label_tag(:bcs_champ, "BCS Championship Game Total Score") %>
        <%= text_field_tag(:total_score, @entry.nil? ? 0 : @entry.tiebreaker, :size=> '5x10') %>
      </div>
    <% end %>
  </div>
  <div class="grid_3">
    <table class="bowlgames">
      <tr>
        <th>Rank</th>
        <th>Bowl</th>
      </tr>
      <% @rank = 1 %>
      <% @bowls.each do |bowl| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td><%= @rank %></td>
          <% if(@existing_bowls[@rank]) %>
            <td id="<%= "selected_rank_#{@rank}" %>"><%= @existing_bowls[@rank] %></td>
          <% else %>
            <td id="<%= "selected_rank_#{@rank}" %>" style="display: none"><%= "Bowl #{@rank}" %></td>
          <% end %>
          <% @rank += 1 %>
        </tr>
      <% end %>
    </table>
  </div>
  <br />
</div>
<%= javascript_include_tag "confidence_pool" %> 
<script type="text/javascript">
  $(function() {App.start(); })
</script>
