<div id="account_activity">
  <h2>Your Account Activity</h2> 
  <div id="account_activity_data">
  <label>Current Balance: </label><span><%= number_to_currency(current_user.balance) %></span>
  <br /><br />
  <span>Last 10 transactions</span> 
  <table class="results_table">
    <tr class="header">
      <th>Date</th>
      <th>Pool Name</th>
      <th>Amount</th>
      <th>Description</th>
    </tr>
    <% current_user.account.last_transactions(10).each do |trans| %>
      <tr class="<%= cycle("even", "odd") %>">
        <td><%= trans.created_at.strftime("%m-%d-%Y") %></td>
        <td><%= trans.poolname %></td>
        <td><%= number_to_currency(trans.amount) %></td>
        <td><%= trans.description %></td>
      </tr>
    <% end %>
  </table>
</div>
</div>
