<%= render 'shared/poolbanner' %>
<div class="pickem_container container_12">
  <%= render 'navigation' %>
  <h1>Current Standings</h1>
  <%= render 'shared/flashpartial' %>
  <table class="survivor_standings">
    <tr id="survivor_standings_header">
      <th>Entry</th>
      <th>Weeks</th>
      <% (1..@current_week).to_a.each do |week| %>
        <th><%= "Week #{week}" %></th>
      <% end %>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.survivor_entries.count %></td>
        <% user.survivor_entries.each do |entry| %>
          <td class=<%= "#{entry.result}" %>><%= entry.team.abbreviation %></td>
        <% end %>
      </tr>
    <% end %>

  </table>
</div>
