<%= render 'shared/poolbanner' %>
  
<div class="pickem_container container_12">
  <%= render 'navigation' %>
  
  <%= render 'shared/flashpartial' %>

  <h1><%= "Picksheet for Week #{@games[0].week}" %></h1>
  <%= form_tag(makepick_survivor_pool_path, :method => "post") do %>
  <table id="survivor_picks_table">
    <tr class="header">
      <th>Game Date</th>
      <th></th>
      <th>Favorite</th>
      <th>Line</th>
      <th></th>
      <th>Underdog</th>
    </tr>
    <% @games.each do |game| %>
      <tr>
        <% if @pastgames.include?(game.id)  %>
          <td><%= game.gamedate.strftime("%m-%d-%Y") %></td>
          <td><%= radio_button_tag(:teamid, game.favorite.id, 
                                   checked = (game.favorite.id == @entry.team_id), 
                                   :disabled => true, 
                                   :tooltip => "Game has passed") %></td>
          <td><%= game.favorite_display_name %></td>
          <td><%= game.display_line %></td>
          <td><%= radio_button_tag(:teamid, game.underdog.id, 
                                   checked = (game.underdog.id == @entry.team_id), 
                                   :disabled => true, 
                                   :tooltip => "Game has passed") %></td>
          <td><%= game.underdog_display_name %></td>
        <% else %>
          <td><%= game.gamedate.strftime("%m-%d-%Y") %></td>
          <td><%= radio_button_tag(:teamid, game.favorite.id, 
                                   checked = (game.favorite.id == @entry.team_id), 
                                   :disabled => @picked_teams.include?(game.favorite.id),
                                   ) %></td>
          <td><%= label_tag(:favorite, game.favorite_display_name, 
                            :class => (@picked_teams.include?(game.favorite.id) ? "picked_team":nil)) %></td>
          <td><%= game.display_line %></td>
          <td><%= radio_button_tag(:teamid, game.underdog.id, 
                                   checked = (game.underdog.id == @entry.team_id), 
                                   :disabled => @picked_teams.include?(game.underdog.id),
                                   ) %></td>
          <td><%= label_tag(:underdog, game.underdog_display_name, 
                            :class => (@picked_teams.include?(game.underdog.id) ? "picked_team":nil)) %></td>

        <% end %>
      </tr>
    <% end %>
  </table>
  <br /><br />
  <%= submit_tag("Save Pick", :disabled => @pastgames.include?(@entry.game_id)) %>
<% end %>
</div>

