<div class="pickem_container container_12">
  <%= render 'navigation' %>
  <h1>Some Crap</h1>
  <table>
    <tr>
      <th>Time</th>
      <th>Favorite</th>
      <th>Line</th>
      <th>Underdog</th>
    </tr>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.gamedate.strftime("%m-%d-%Y") %></td>
        <td><%= game.favorite_display_name %></td>
        <td><%= game.display_line %></td>
        <td><%= game.underdog_display_name %></td>
      </tr>
    <% end %>
  </table>
</div>

