<div class="pickem_container container_12">
  <%= render 'navigation' %>
  
  <% flash.each do |key, msg| %>
    <div id="<%= key %>">
      <p><%= msg %></p>
      <div class="clear"></div>
    </div>
  <% end %>

  <h1>Picksheet</h1>
  <%= form_tag(makepick_survivor_pool_path, :method => "post") do %>
  <table id="survivor_picks_table">
    <tr class="header">
      <th>Game Date</th>
      <th></th>
      <th>Favorite</th>
      <th>Line</th>
      <th></th>
      <th>Underdog</th>
    </tr>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.gamedate.strftime("%m-%d-%Y") %></td>
        <td><%= radio_button_tag(:teamid, game.favorite.id, checked = (game.favorite.id == @entry.team_id)) %></td>
        <td><%= game.favorite_display_name %></td>
        <td><%= game.display_line %></td>
        <td><%= radio_button_tag(:teamid, game.underdog.id, checked = (game.underdog.id == @entry.team_id)) %></td>
        <td><%= game.underdog_display_name %></td>
      </tr>
    <% end %>
  </table>
  <br /><br />
  <%= submit_tag("Save Pick", :disabled => @deadline) %>
<% end %>
</div>

