<div class="container_12">
  <%= render "shared/flashpartial" %>

  <div class="nbaScoreboard grid_12">
    <div class="grid_4"> 
      <h1>Scoreboard</h1>
      <div><%= "Scores for #{@date.strftime("%A %B %d, %Y")}" %></div>
    </div>
    <div class="grid_4 nbaScoreboard">
      afe 
    </div>
  </div>
  <div class="clear"></div>
  <div class="grid_12">
    <% @games.each do |game| %>
      <div class="nbaGamePreview">
        <div class="nbaGamePreviewTeam"><%= game.away_team.display_name %></div>
        <div class="nbaGamePreviewTeam"><%= game.home_team.display_name %></div>
        <%= link_to "Preview", nba_game_path(game) %> 
      </div>
    <% end %>
  </div>
</div>
