<div class="container_12">
  <%= render "shared/flashpartial" %>

  <%= form_tag(scrape_all_nba_games_path, :method => "post") do %>
    <div class="field">
      <%= label_tag :begin_date %><br />
      <%= text_field_tag :begin_date %>
    </div>
    <div class="field">
      <%= label_tag :end_date %><br />
      <%= text_field_tag :end_date %>
    </div>
    <div class="actions">
      <%= submit_tag("Scrape") %>
    </div>

  <% end %>
</div>
