<tr class="<%= cycle('odd', 'even') %>">
  <td>
    <%= transaction.poolname %>
  </td>
  <td><%= transaction.account.user.name %></td>
  <td><%= transaction.description %></td>
  <td><%= number_to_currency(transaction.amount) %></td>

</tr>

