<div class="pickem_container container_12">
  <h1>Add a pool</h1>

  <%= form_tag(add_pool_site_path, :method => "post") do %>
    <%= collection_select(:pool, :type, PoolTemplate.all, :name, :description, :prompt => true) %>
    <%= label_tag(:poolname, "Pool Name") %>
    <%= text_field_tag(:poolname) %>
    <br />
    <div id="pickem_options" style="display:none">
      <p>
        <%= label_tag(:number_of_games, "Number of Weekly Games") %>
        <%= text_field_tag(:number_of_games) %>
      </p>
      <p>
        <%= check_box_tag(:college) %>
        <%= label_tag(:college, "Include college games?") %>
        <%= check_box_tag(:pro) %>
        <%= label_tag(:pro, "Include pro games?") %>
      </p>
      <p>
        <%= label_tag(:weekly_fee, "Weekly Fee") %>
        <%= text_field_tag(:weekly_fee) %>
        </p>
      <p>
        <%= label_tag(:deadline, "First Week Deadline") %>
        <%= text_field_tag(:deadline) %>
        </p>
      <p id="jackpot_rule">
        <%= check_box_tag(:include_weekly_jackpot) %>
        <%= label_tag(:include_weekly_jackpot, "Include a weekly jackpot?") %>
        <br /><br />
        <%= label_tag(:weekly_jackpot_amount, "Amount of weekly fee that goes towards weekly jackpot") %>
        <%= text_field_tag(:weekly_jackpot_amount) %>
        <br /><br />
        <%= label_tag(:no_of_jackpot_wins, "How many wins to claim weekly jackpot?") %>
        <%= text_field_tag(:no_of_jackpot_wins) %>
        <br /><br />
        <h3>Season Ending Jackpot</h3>
        <%= label_tag(:season_jackpot_amount, "Amount of weekly fee that goes towards season jackpot") %>
        <%= text_field_tag(:season_jackpot_amount) %>
        <br /><br />
        
      </p>

        <%= hidden_field_tag(:current_season, @season) %>
        <%= hidden_field_tag(:current_week, @week) %>
    </div>
    <%= submit_tag("Add Pool") %>
  <% end %>

</div>

