<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>

</head>
<body>
  <div id="wrap">
  <%= render 'layouts/header' %>
  <div id="main">
      <%= render "layouts/sitenav" unless current_user.nil? %> 
      <%= yield %>
  </div>
</div>
<%= render 'layouts/footer' %>

  </body>
</html>
