<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= render 'layouts/stylesheets' %>
  <%= csrf_meta_tag %>

</head>
  <body>
      <% if logged_in? %>
        <%= render 'layouts/dashboard_header' %>
        <% else %>
          <%= render 'layouts/header' %>
      <% end %>
      <div id="content">
      <%= yield %>
      <%= render 'layouts/footer' %>

      </div>
  <%= javascript_include_tag "application" %>
  </body>
</html>
